<div class = 'top'> 
  <div class='imgsml'>
    <li>
      <% @stories.each do |story| %>
        <%=image_tag(story.image,size: '100x100',:class=> "img-circular")if story.image.attached? %>   
        <%=link_to "story", story %>
      <%end%>
    <li>
  </div>
</div>
<div class = 'center'>
  <ul>
    <% @posts.each do |post| %>
      <li> 
        <div class="card" style="width: 25rem;">
          <img src="" class="card-img-top">
          <div class ="card-body">
           <%=image_tag post.user.image,size: '100x100',:class=> "img-circular"if post.user.image.attached? %>
           <%=post.user.username%>
            <a href="/posts/<%=post.id %>">
            <%=image_tag post.picture, size: '350x400' %>
            </a>
            <div class="row actions" id="comment-form-post"<%= post.id.to_s %>>
                <%= render 'comment_form', {post: post} %>
            </div>
               <!--for Like section-->
            <div>
            <%if current_user.already_likes?(post)%>
           
                <%=button_to 'Unlike', like_path(post),method: :delete%> 
             
              <%else%>
              <%=button_to 'like', likes_path,params: {like:{post_id: post.id}},method: :post%> 
              <%end%>
            </div>
            <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <%=post.add_text%>
          </div>
        </div> 
      </li> 
    <% end %> 
  </ul>
</div>

<div class="right">
  <div class="card" style="width: 20rem;">
    <img src="" class="card-img-top">
      <div class ="card-body">
      <%=search_form_for @q do |f| %>
   <div class = "form-group">
    <%= f.text_field :username_cont, class: "form-control"%>
    <%=f.submit class:"btn bt-primary btn-lg" %>
    </div>
  <% end %>
        <ul>
        <h5> Suggestion For you</h5>
          <% @users.each do |user| %>
            <li>
              <a href="<%= profile_path(user) %>">
              <%if current_user.following?(user) &&current_user == user%>
              
                <%else %>
                <div class='imgsml'>
                  <%=image_tag(user.image,size: '100x100',:class=> "img-circular")if user.image.attached? %>
                  <%= user.username %>
                </div>
              <%end%>
              </a>
            </li>
          <% end %>
          </ul>
      </div>
  </div>
</div>