
  <div class = center>
   
<div class="card" style="width: 25rem;">

          <img src="" class="card-img-top">
          <div class ="card-body">
           <div class='imgsml'>
        <%=image_tag( @user.image,size: '100x100',:class=> "img-circular")if current_user.image.attached? %>
        </div>
        
     <%=@user.username%><br>
        <%=@user.bio%><br>
        <%=@user.personal_information%>
        <div class= right>
        
  <% if current_user.following?(@user)%>
    <%=button_to "unfollow", unfollow_path(@user)%>
    <%=button_to "Block",block_path&&unfollow_path(@user)%>
    <%elsif current_user.sent_follow_request_to?(@user)%>
    <%=button_to "cancel follow request",cancel_path(@user)%>
    <%else %>
    <%=button_to "follow", follow_path(@user)%>
  <%end%>
  
</div>
</div>  
  <% if current_user %>    
    <%current_user.follow_requests.each do |request|%>
      <%=request.followerable.email%> wants to follow you
      <%=button_to "Accept",accept_path(request.followerable) %>
      <%=button_to "Decline",decline_path(request.followerable) %>
      <%=button_to "Block",block_path(@user)%>
    <%end%>
  <%end%>
 </div>
 

